<input class="form-control" type="text" placeholder="search" [(ngModel)]="searchText" >
<div class="row">
<div class="col" *ngFor= 'let s of suggestions'>
  <ng-container *ngif="s.title === searchText && searchText=null"></ng-container>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"> Title : {{s.title}}</h5>
    <p class="card-text">Description : {{s.description}}</p>
    <p class="card-text">Category : {{s.category}}</p>
    <p class="card-text">Date : {{s.date}}</p>
    <p class="card-text">Status : {{s.status}}</p>
    <p class="card-text">Nombre de likes  : {{s.nbLikes}}</p>
    <button class="btn btn-primary" [hidden]="s.status == 'refusee'" (click)="increment(s)">Like</button>
    <button class="btn btn-danger" [hidden]="s.status == 'refusee'" (click)="fav(s)">Ajouter aux favories</button>
   </div>
</div>
</div>
</div>
